html {
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  margin: 0;
}

.container {
  height: 100vh;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  text-align: center;
  width: 100vw;
}

.container > div {
  left: 0;
  position: absolute;
  right: 0;
  top: 20vh;
}

.one {
  font-size: 4.5rem;
  font-weight: 300;
}

.two {
  font-size: 1.2rem;
  font-weight: lighter;
}

.second {
  font-size: 3rem;
}

/* third */
.textbox {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  max-width: 750px;
  margin: 20px auto;
  padding: 30px;
  text-align: center;
}

.textbox_chat {
  margin: 10;
  text-align: justify;
}

.textbox_chat span {
  visibility: hidden;
}

.button {
  background-color: #3498db;
  color: #fff;
  border: none;
  border-radius: 10px;
  padding: 5px 20px;
  font-size: 13px;
  cursor: pointer;
  transition: background-color 0.3s;
}

/* forth */

.forth p {
  font-size: 2rem;
  left: 0;
  position: absolute;
  right: 0;
}

.three1 strong {
  border-radius: 3px;
  display: inline-block;
  padding: 3px 5px;
}

.five1 {
  font-size: 3rem;
}

.five1 span {
  display: inline-block;
}

.six1 span {
  font-size: 8rem;
}

.fifth {
  position: relative;
  top: 10vh;
  z-index: 1;
}

.profile {
  display: inline-block;
  height: 300px;
  width: 300px;
}

.wish_hbd {
  font-weight: 300;
  font-size: 2rem;
  margin: 10px 0 0;
}

.wish_text {
  font-size: 1.2rem;
  font-weight: 300;
}

/* sixth */
.baloons img {
  display: inline-block;
  position: absolute;
}

.baloons img:nth-child(even) {
  left: -10%;
}

.baloons img:nth-child(odd) {
  right: -10%;
}

.baloons img:nth-child(8n + 0) {
  left: 30%;
}

.sixth {
  height: 100vh;
  position: fixed;
  top: 0;
  width: 100vw;
}

.seventh svg {
  left: 0;
  position: absolute;
  top: 0;
  visibility: hidden;
  width: 25px;
  z-index: -1;
}

.seventh svg:nth-child(1) {
  fill: #fa8072;
  left: 5vw;
  top: 7vh;
}

.seventh svg:nth-child(2) {
  fill: #c8a2c8;
  left: 35vw;
  top: 23vh;
}

.seventh svg:nth-child(3) {
  fill: #30dc58;
  left: 57vw;
  top: 33vh;
}
.seventh svg:nth-child(4) {
  fill: #f7b7c0;
  left: 57vw;
  top: 43vh;
}
.seventh svg:nth-child(5) {
  fill: #f9e8c1;
  left: 7vw;
  top: 68vh;
}
.seventh svg:nth-child(6) {
  fill: #b1e6e1;
  left: 77vw;
  top: 42vh;
}
.seventh svg:nth-child(7) {
  fill: #bac5e2;
  left: 37vw;
  top: 86vh;
}
.seventh svg:nth-child(8) {
  fill: #f4cbdc;
  left: 83vw;
  top: 68vh;
}
.seventh svg:nth-child(9) {
  fill: #e6d3f4;
  left: 87vw;
  top: 94vh;
}

/* eighth */

.eighth p {
  font-size: 1.5rem;
}

.eighth p:hover {
  color:#c0c0c0;
}

.eighth #replay {
  cursor: pointer;
  z-index: 3;
}

.eighth #direct {
  cursor: pointer;
  z-index: 3;
}
